body {
  padding: 10px;
}

Form {
  padding: 10px;
}

Button {
  width: 120px;
}

.header {
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(184, 218, 218);
}

.mainHeader {
  margin-top: 60px;
  margin-bottom: 20px;
}

/* Login and register */

.loginRegister {
  margin-top: 50px;
}

.register {
  margin-top: 50px;
}

/* Generator */

.generator {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(184, 218, 218);
}

.generator Button {
  width: 100px;
} 

.query {
  margin-top: 10px;
  margin-bottom: 5px;
}

#btnDeleteQuery {
  width: 30px;
  padding: 1px;
  font-size: large;
  border-radius: 50px;
}

.query input {
  width: 45px;
}

.outputItem p {
  font-size: larger;
}

#outputItemSeperator {
  margin-right: 10px;
}

/* Dishes (list) */

.dish {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(184, 218, 218);
}

.dish Button {
  margin-top: 10px;
  width: 100px;
}

.dishesList {
  margin-top: 20px;
}
/* Dish (add) */

.addDish {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgb(184, 218, 218);
}

.addDish Button {
  margin-left: 5px;
}

